/**
 * partials/pages
 * ---
 */

.post-14 {
	background-color: #E6E6E6;
}

article {
	@include container();
}

.imagemIlustrativa {
	float: right;
	margin-top: 10px;
}

#categoriasPre {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;

	li {
		display: inline-block;
		@include span(1 of 4 0);

		a {
			display: block;
			color: #fff;
			text-align: center;
			line-height: $botao-topo-height*0.9;
			font-size: 1.6rem;
			text-transform: uppercase;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

#thumbCtrlFicha, #tituloEtexto {
	@include span(6);
}

#thumbCtrlFicha {

	.wp-post-image {
		width: 100%;
	}

	.thumbEcontroles {
		position: relative;
		overflow: hidden;


		.ctrl {
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: rgba(#fff, .6);
			width: 40px;
		}

		.prev {
			left: 0;
		}

		.next {
			right: 0;
		}
	}
}

.metade {
	@include span(6);
}

.pilares {
	@include span(4);
	padding: 0 10px;
	text-align: justify;

	&:last-child {
		@include suffix(0);
	}

	.botaoGrande {
		margin-left: -15px;
		font-size: 2.5rem;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
}

.cadaSomos {
	background-color: #eaeaea;
	padding: 20px;
	margin-bottom: 30px;
	min-height: $imagem-quem-somos-height;
	position: relative;
	overflow: hidden;
	box-shadow: inset 12px 0 0 #fff;

	.imagemQuemSomos {
		float: left;
		margin: -20px 20px 0 -20px;

		h2 {
			color: #fff;
			margin-top: 8px;
			margin-left: 20px;
			font-weight: 500;
			font-size: 1.75rem;
			letter-spacing: -0.5px;
		}
	}

	.texto {
		width: 70%;
		float: right;
		overflow: hidden;
	}

	.flamula {
		margin: -20px 20px 0 -32px;

		h2 {
			color: #fff;
			margin-top: 10px;
			margin-left: 10px;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2.5;
			white-space: nowrap;
		}
	}
}

.cadaMembro {
	@include container();
	margin-bottom: 30px;
	background-color: #eaeaea;

	.miniBio {
		@include span(9);
		padding-left: 20px;
	}

	img.foto {
		@include span(3);
	}
}

.single {
	margin-top: 0;

	section {
		@include container();
		// background-color: #e6e6e6;

		.type-post {

			@include susy-media (max-width 960px) {
				@include span(1 of 1 0);
			}

			img {
				@include span(4 of 10);
				margin-top: 20px;

				@include susy-media (max-width 960px) {
					@include span(1 of 1 0);
					margin: 0 0 0 -2px;
				}
			}

			p, .downloadSingle {
				@include span(last 6 of 10);

				@include susy-media (max-width 960px) {
					@include span(1 of 1);
				}
			}
		}

		.type-downloads {
			@include span(last 9 of 12 0);
			padding: 0 10px;

			@include susy-media (max-width 960px) {
				@include span(1 of 1 0);
			}


			img {
				@include span(1 of 1 0);
				margin-top: 20px;

				@include susy-media (max-width 960px) {
					margin: 0 0 0 -2px;
				}
			}

			p {
				@include span(1 of 1 0);
			}
		}

		.downloadSingle {
			border-bottom: solid 1px #999;
			padding-bottom: 10px;
			margin-bottom: 20px;

			h1, h2 {
				text-transform: uppercase;
				color: #5D5D5D;
				margin: 10px 0;
				line-height: 1;
				font-family: "myriad-pro", sans-serif;
			}

			h1 {
				border-bottom: none;
			}

			h2 {
				font-size: 1.8rem;
				font-weight: 300;
				margin: 0;
			}
		}
	}

	#singleDownloads {
		background-color: #fff;
		margin-top: 30px;
		background-color: #e6e6e6;
	}
}

#emInstitucional {
	list-style: none;
	padding: 0;
	margin: 50px auto;
	overflow: hidden;
	text-align: center;
	width: $botao-topo-width*3;

	li.botaoTopo {
		display: table;
		float: left;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 180px;

		@include susy-media (max-width 960px) {
			background-image: none;
			background-color: #17243E;
			margin: 2px 0;
			height: initial;
			@include span(1 of 1);
		}

		a {
			color: #fff;
			padding: 0 10px;
			margin-top: 10px;
			display: table-cell;
			vertical-align: middle;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.4rem;

			&:hover {
				color: $azul;
			}

			@include susy-media (max-width 960px) {
				line-height: 3;
				margin-top: 0;
			}
		}
	}
}

#trabalheConosco {
	position: relative;
	border: 8px double;
	color: #fff;
	margin-top: 10px;
	background-color: $azul;
	padding: 0 20px;

	h4 {
		font-size: 150%;
		font-weight: 300;
	}

	.seloEbotao {
		position: absolute;
		right: 15px;
		bottom: 10px;
		height: 100px;
		width: 250px;

		.selo {
			display: inline-block;
			vertical-align: bottom;
			width: 100%;
			height: auto;
		}

		.botaoLaranja {
			height: 54px;
			margin-bottom: 5px;
			padding: 15px 40px;
			background-color: #C46600;
			color: #fff;
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: 600;
			text-align: center;
			box-shadow: 0 3px 3px rgba(#000, .5);
		}
	}
}

.verMais {
	display: block;
	clear: both;
	color: #fff;
	text-transform: uppercase;
	line-height: $ver-mais-height;
	width: $ver-mais-width;
	text-align: center;
	margin: auto;
}

// PESSOAS

#videoPessoas {
	width: 100%;
	height: 400px;
	display: block;
	margin: 0 auto 50px;
	background:$cinza url('img/video.png') no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.boxPessoas {
	@include container();
	display: block;
	background-color: lighten($cinza, 20) !important;
	background-position: right top !important;
	background-size: contain !important;
	height: 150px;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;

	transition: all .4s;

	&.boxPA {
		background-color: $azul !important;
		height: 200px;
	}

	h2 {
		display: block;
		border-bottom: 1px solid #fff;
		text-transform: uppercase;
		font-size: 2.5rem;
		line-height: 1;
		margin: 0;
	}

	&#box1 {
		background: url(img/preEngBanner.png) no-repeat;
	}
	&#box2 {
		background: url(img/preFabBanner.png) no-repeat;
	}
	&#box3 {
		background: url(img/linHabBanner.png) no-repeat;
	}
	&#box4 {
		background: url(img/dnaPreBanner.png) no-repeat;
	}

	&#sus1 {
		background: url(img/inovacaoLamp.png) no-repeat;
	}
	&#sus2 {
		background: url(img/inovacaoFolha.png) no-repeat;
	}
	&#sus3 {
		background: url(img/inovacaoPessoas.png) no-repeat;
	}
}

.bgCinza {
	background-color: #eaeaea;
	padding: 20px;
	margin-bottom: 40px;
	overflow: hidden;
	transition: all .4s;

	&.fechaBGC {
		height: 0;
		margin: 0;
		padding: 0 20px;
	}
}


// Page pessoas

.page-template-template-pessoas, .page-template-template-institucional, .contato, .pessoas {

	.pageCabecalho {
		height: 200px;
		padding: 0 20px;
		border-top: 10px solid $azul;
		border-bottom: 10px solid $azul;
		position: relative;

		background-size: contain;
		background-repeat: no-repeat;
		background-color: $azul;
		background-position: right top;

		h1 {
			color: #fff;
			font-size: 3rem;
			max-width: 300px;
			line-height: .9;
			margin: 0;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			border: none;

			&:before {
				display: none;
			}
		}
	}

	.pageConteudo {
		background-color: lighten($cinza, 50);
		padding: 20px;
		margin-top: 10px;
		overflow: hidden;

		#voltar {
			display: block;
			padding: 10px 20px;
			border: 1px solid $cinza;
			float: right;
			text-transform: uppercase;
			margin-top: 30px;
		}
	}

}


// Prêmios e Certificações



.certificacoes {

	h4 {
		font-size: 2.4rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 0;
	}

	.grupoPremios {
		@include container();

		&:after {
			content: " ";
			display: block;
			clear: both;
		}

		.cadaPremio {
			@include span(1 of 3 .1);
			text-align: center;
			border: solid 1px $azul;
			margin-bottom: 40px;
			display: table;

			.contemLogo {
				height: 200px;
				padding: 10px;

				white-space: nowrap;
				text-align: center;

				@include span(1 of 2 0);
			}

			.inTitulo {
				@include span(last 1 of 2 0);
				background-color: $azul;
				color: #fff;
				height: 200px;
				text-transform: uppercase;

				display: table-cell;
				vertical-align: middle;
			}

			.helper {
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
			}

			img {
		    vertical-align: middle;
		    max-height: 180px;
				max-width: 100%;
			}
		}
	}

	.certificacaoMor {
		overflow: hidden;
		margin: 0 2% 50px;

		.logoEtexto {
			@include container();
			border: solid 1px $azul;

			img {
				@include span(4);
			}

			p {
				@include span(8);
				font-size: 2rem;
			}
		}
	}
}

.cadaDepoimento {
	position: relative;
	@include span(6 of $col .1);
	height: 150px;
	background-color: #eaeaea;

	h4 {
		color: $azul;
		text-transform: uppercase;
		font-size: 2rem;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	p {
		font-size: 1.5rem;
	}

	.thumbVideo {
		float: left;
		width: 150px;
		height: 150px;
		margin-right: 15px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.todasNoticias {
	list-style: none;
	padding-left: 0;

	li {
		background-color: #eaeaea;
	}

	.noticiaDestaque {
		margin-bottom: 20px;
		display: block;
		position: relative;
		@include container(12);

		.linkNoticiaDestaque {
			@include span(6);
			display: block;
			position: relative;

			img {
				max-width: 100%;
				max-height: 400px;

				width: auto;
				height: auto;
			}
		}

		.conteudoNoticiaDestaque {
			@include span(last 6);

			h3, h4 {
				color: $azul;
			}

			h3 {
				margin-top: 20px;
				margin-bottom: 0;
				font-size: 2.5rem;
				text-transform: uppercase;
			}

			h4 {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 2rem;
			}
		}

	}

	.outrasNoticias {
		display: block;
		@include span(6);
		margin-bottom: 20px;
		height: 170px;
		padding: 15px;

		.linkPostOutrasNoticias {
			h3 {
				text-transform: uppercase;
				color: $azul;
			}
		}

		.linkImagemOutrasNoticias {
			display: block;
			width: 250px;
			float: left;
			overflow: hidden;
			position: relative;

			img {
				display: block;
				margin: 0 auto;
				max-height: 170-30px;
				max-width: 230px;
			}
		}

	}
}
